*{
    padding: 0;

    text-align: center;
}

.grid-container{
display: grid;
grid-template-columns: auto auto auto;
padding: 20px;

}

body{
    position: relative;
}
/** overlay on page and pop up modal*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}
.hidden {
    display: none;
}

.modal {
    width: 300px;
    margin: 15% auto auto;
    text-align: center;
    background: rgb(230, 228, 228);
    border: 1px solid #778;
    border-radius: 9px;
    padding-top: 40px;
}
.modal-close {
    position:absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.avatar{
    border-radius: 70px;
}

p {
    color:rgb(76, 76, 85);
}
.email{
    margin: 0;
}
.address {
    margin: 0;
}
.city {
    margin: 0;
}
.bday {
    margin: 0;
    margin-bottom: 19px;
}
.phone {
    margin: 0;
}
/*////////////////////////////////////*/
